<div class="sm:px-8 mt-16 sm:mt-32">
  <div class="mx-auto max-w-7xl lg:px-12">
    <div class="relative px-4 sm:px-8 lg:px-12">
      <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <header class="max-w-2xl">
          <h1>
            Chats with me
          </h1>
        </header>

        <%= button_to "Create Chat", chats_path, method: :post, data: { turbo: false } %>

        <div>
          <% @chats.each do |chat| %>
            <div>
              <h2>
                <a href="<%= chat_path(chat) %>">
                  <%= chat.session_id %>
                </a>
              </h2>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
