<header>
  <h1>
    Chats with me
  </h1>
</header>

<div>
  <% @chats.each do |chat| %>
    <div>
      <h2>
        <a href="<%= chat_path(chat) %>">

        </a>
      </h2>
    </div>
  <% end %>
</div>
