<header>
  <h1>
    Chat <%= @chat.session_id %>
  </h1>
</header>

<%= button_to "Create Chat", chats_path, method: :post, data: { turbo: false } %>

<div>
  Messages go here
</div>

<div>
  <form method="POST" action="/chat_messages">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  
    <textarea name="chat_message[content]"></textarea>

    <div>
      <button type="submit" class="rounded-md bg-indigo-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
        Send
      </button>
    </div>
  </form>
</div>
